<%- include('partials/header') %>

    <br><br><br>
    <div class="col-sm-3 ml-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Dashboard</h5>
                <p class="card-text">Hello,
                    <%= name %>
                </p>
                <a href="/logout" class="btn btn-primary">Logout</a>
            </div>
        </div>
    </div>



    <%- include('partials/footer') %>