<%- include('partials/header') %>
    <br><br><br><br>
    <div id="index" class="my-auto mx-auto text-center">
        <button type="button" class="btn btn-dark btn-lg btn-block">
            <a class="text-light" href="/register">
                Register
            </a>
        </button>
        <br>
        <button type="button" class="btn btn-dark btn-lg btn-block">
            <a class="text-light" href="/login">
                Login
            </a>
        </button>
    </div>
    <%- include('partials/footer') %>