<%- include('partials/header') %>
    <br><br><br>
    <h1 class="text-center mb-5">Login</h1>
    <div id="form">
        <%- include('partials/msg') %>
            <form action="/login" method="POST">
                <input type="email" class="form-control" name="email" placeholder="Email">
                <br>
                <input type="password" class="form-control" name="password" placeholder="Password">
                <a href="/forgot">
                    <p class="mt-2 text-dark">Forgot Password ?</p>
                </a>
                <button class="btn btn-dark btn-block" type="submit">Login</button>
            </form>
    </div>

    <%- include('partials/footer') %>