<%- include('partials/header') %>
    <br><br><br>
    <h1 class="text-center mb-5">Register</h1>
    <div id="form">
        <%- include('partials/msg') %>
            <form action="/register" method="POST">
                <input type="text" class="form-control" name="name" placeholder="Name">
                <br>
                <input type="email" class="form-control" name="email" placeholder="Email">
                <br>
                <input type="password" class="form-control" name="password" placeholder="Password">
                <br>
                <input type="password" class="form-control" name="confirm" placeholder="Confirm Password">
                <br>
                <button class="btn btn-dark btn-block" type="submit">Register</button>
            </form>
    </div>
    <%- include('partials/footer') %>